{% extends 'VkafOafBundle:Schedule:layout.html.twig' %}

{% block title %}{{ slotDate|localizedDate('datetime_medium') }} - {{ schedule.name }}{% endblock %}

{% block body_class %}schedule-slot{% endblock %}

{% block body %}
<h4>{{ slotDate|localizedDate('date_full') }}</h4>
<h3>{{ slotDate|date('H:i') }}</h3>
<dl class="dl-horizontal">
  <dt>{{ 'vkaf_oaf.schedule.slot.ending'|trans }}</dt>
  <dd>{{ ending }}</dd>
  <dt>{{ 'vkaf_oaf.schedule.slot.changing'|trans }}</dt>
  <dd>{{ changing }}</dd>
  <dt>{{ 'vkaf_oaf.schedule.slot.beginning'|trans }}</dt>
  <dd>{{ starting }}</dd>
</dl>
{% for row in tasks %}
<section>
  <h4>{{ row.task.name }} ({{ row.task.code }})</h4>
  <ul>
    {% for user in row.end %}
    <li>
      <span class="fa {% if users[user.id].start|length > 0 %}fa-minus-square{% else %}fa-minus-square-o{% endif %}"></span>
      {{ user.name }} ({{ user.groups|formatList({'property': 'shortName'}) }})
      {% if users[user.id].start|length %}
      <span class="schedule-slot-extra">
        <span class="fa fa-long-arrow-right"></span> {% for task in users[user.id].start %}{{ task.code }} {% endfor %}
      </span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <ul>
    {% for user in row.start %}
    <li>
      <span class="fa {% if users[user.id].end|length > 0 %}fa-plus-square{% else %}fa-plus-square-o{% endif %}"></span>
      {{ user.name }} ({{ user.groups|formatList({'property': 'shortName'}) }})
      {% if users[user.id].end|length or user.bednumber %}
      <span class="schedule-slot-extra">
        {% if users[user.id].end|length %}
        <span class="fa fa-long-arrow-left"></span>{% for task in users[user.id].end %}{{ task.code }} {% endfor %}
        {% endif %}
        {% if user.bednumber %}
        <span class="fa fa-bed"></span>{{ user.bednumber }}
        {% endif %}
      </span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endfor %}
{% endblock %}
