{% extends 'VkafOafBundle::layout.html.twig' %}
{% form_theme assignForm 'ZentriumCoreBundle::form.html.twig' %}

{% block title_full %}{{ 'vkaf_oaf.resource.assign.title'|trans }} - {{ 'vkaf_oaf.layout.resources'|trans }}{% endblock %}
{% block title %}{{ 'vkaf_oaf.resource.assign.title'|trans }}{% endblock %}

{% block content %}
<div class="row">
  {% if is_granted('ROLE_OAF_RESOURCE_MANAGE') %}
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">{{ 'vkaf_oaf.resource.assign.title_assign'|trans }}</h3>
      </div>
      <div class="box-body">
        {{ form(assignForm) }}
      </div>
    </div>
  </div>
  <div class="col-md-9">
  {% else %}
  <div class="col-md-12">
  {% endif %}
    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title">{{ 'vkaf_oaf.resource.assign.title_return'|trans }}</h3>
      </div>
      <div class="box-body no-padding">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ 'vkaf_oaf.resource_assignment.field.resource'|trans }}</th>
              <th>{{ 'vkaf_oaf.resource_assignment.field.user'|trans }}</th>
              <th>{{ 'vkaf_oaf.resource_assignment.field.assigned_at'|trans }}</th>
              <th>{{ 'vkaf_oaf.resource_assignment.field.returned_at'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% for assignment in assignments %}
            <tr>
              {% include 'VkafOafBundle:Resource:returnRow.html.twig' with {'assignment': assignment} only %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
