{% extends 'VkafOafBundle::layout.html.twig' %}
{% form_theme form 'ZentriumCoreBundle::form.html.twig' %}

{% block title_full %}{{ resource.label }} - {{ 'vkaf_oaf.layout.resources'|trans }}{% endblock %}
{% block title %}{{ resource.label }}{% endblock %}

{% block content %}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">{{ 'zentrium_schedule.resource.edit.title'|trans }}</h3>
  </div>
  <div class="box-body">
    {{ form(form) }}
  </div>
</div>
{% endblock %}
