{% extends 'VkafOafBundle::layout.html.twig' %}

{% block title %}{{ 'vkaf_oaf.layout.resources'|trans }}{% endblock %}

{% block content%}
<div class="box box-primary">
  <div class="box-body no-padding">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>{{ 'vkaf_oaf.resource.field.label'|trans }}</th>
          <th>{{ 'vkaf_oaf.resource.field.owner'|trans }}</th>
          <th class="col-right">
            <a href="{{ path('oaf_resource_new') }}" data-title="{{ 'vkaf_oaf.resource.view.new'|trans }}" data-toggle="tooltip"><i class="fa fa-plus"></i></a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for resource in resources %}
        <tr>
          <td>{{ resource.id }}</td>
          <td>{{ resource.owner.name }}</td>
          <td>{{ resource.label }}</td>
          <td class="col-right">
            <a href="{{ path('oaf_resource_edit', {'resource': resource.id}) }}"><i class="fa fa-pencil"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
