{% extends 'ZentriumCoreBundle::layout.html.twig' %}

{% block title %}{{ 'zentrium.user.list.title'|trans }}{% endblock %}

{% block content %}
<div class="box">
  <div class="box-body no-padding">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ 'zentrium.user.field.last_name'|trans }}</th>
          <th>{{ 'zentrium.user.field.first_name'|trans }}</th>
          <th>{{ 'zentrium.user.field.username'|trans }}</th>
          <th>{{ 'zentrium.user.field.email'|trans }}</th>
          <th>{{ 'zentrium.user.field.mobile_phone'|trans }}</th>
          <th>{{ 'zentrium.user.field.groups'|trans }}</th>
          <th class="col-tools">{% if is_granted('ROLE_ADMINISTRATOR') %}<a href="{{ path('user_new') }}"><i class="fa fa-plus"></i></a>{% endif %}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.lastName }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.username }}</td>
          <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
          <td>{% if user.mobilePhone %}<a href="{{ user.mobilePhone|phoneNumber('url') }}">{{ user.mobilePhone|phoneNumber }}</a>{% endif %}</td>
          <td>
            {% for group in user.groups %}<span class="label label-primary">{{ group.shortName }}</span>&#32;{% endfor %}
          </td>
          <td class="col-tools">
            {% if not user.enabled %}<i class="fa fa-lock"></i>{% endif %}
            <a href="{{ path('user_edit', {'user': user.id}) }}"><i class="fa fa-pencil"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
