{% extends 'ZentriumCoreBundle::layout.html.twig' %}

{% block title %}{{ 'vkaf_oaf.kiosk.title'|trans }}{% endblock %}

{% block body_class %}hold-transition kiosk-page{% endblock %}

{% block body %}
<div class="kiosk-refresh" data-config="{{ next|json_encode|e('html_attr') }}"></div>
<div class="wrapper">
  {% block content %}
  {% endblock %}
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('build/zentrium_schedule.css') }}">
<link rel="stylesheet" href="{{ asset('build/vkaf_oaf.css') }}">
{% endblock %}

{% block scripts %}
{{ parent() }}
<script src="{{ asset('build/zentrium_schedule.js') }}"></script>
<script src="{{ asset('build/vkaf_oaf.js') }}"></script>
{% endblock %}
