{% extends 'ZentriumScheduleBundle::layout.html.twig' %}

{% block title %}{{ 'zentrium_schedule.layout.requirements'|trans }}{% endblock %}

{% block content%}
<div class="box box-primary">
  <div class="box-body no-padding">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'zentrium_schedule.requirement_set.field.name'|trans }}</th>
          <th>{{ 'zentrium_schedule.requirement_set.field.begin'|trans }}</th>
          <th>{{ 'zentrium_schedule.requirement_set.field.end'|trans }}</th>
          <th>{{ 'zentrium_schedule.requirement_set.field.updated'|trans }}</th>
          <th class="col-tools">
            {% if is_granted('ROLE_SCHEDULER') %}
            <a href="{{ path('schedule_requirement_set_new') }}" title="{{ 'zentrium_schedule.requirement_set.list.new'|trans }}"><i class="fa fa-plus"></i></a>
            {% endif %}
          </th>
        </tr>
      </thead>
      <tbody>
        {% for set in sets %}
        <tr>
          <td>{{ set.id }}</td>
          <td><a href="{{ path('schedule_requirement_set_view', {'set': set.id}) }}">{{ set.name }}</a></td>
          <td>{{ set.begin|localizedDate('datetime_long') }}</td>
          <td>{{ set.end|localizedDate('datetime_long') }}</td>
          <td>{{ set.updated|ago }}</td>
          <td class="col-tools">
            <a href="{{ path('schedule_requirement_set_statistics', {'set': set.id}) }}" title="{{ 'zentrium_schedule.requirement_set.list.statistics'|trans }}"><i class="fa fa-bar-chart"></i></a>
            {% if is_granted('ROLE_SCHEDULER') %}
            <a href="{{ path('schedule_requirement_set_copy', {'set': set.id}) }}" title="{{ 'zentrium_schedule.requirement_set.list.copy'|trans }}"><i class="fa fa-copy"></i></a>
            <a href="{{ path('schedule_requirement_set_edit', {'set': set.id}) }}" title="{{ 'zentrium_schedule.requirement_set.list.edit'|trans }}"><i class="fa fa-pencil"></i></a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
