{% extends 'ZentriumScheduleBundle::layout.html.twig' %}
{% form_theme form 'ZentriumCoreBundle::form.html.twig' %}

{% block title_full %}{{ 'zentrium_schedule.constraint.new.title'|trans }} - {{ 'zentrium_schedule.layout.schedule'|trans }}{% endblock %}
{% block title %}{{ 'zentrium_schedule.constraint.new.title'|trans }}{% endblock %}
{% block title_sub %}{{ builder.name|trans }}{% endblock %}

{% block content%}
<div class="box box-primary">
  <div class="box-body">
    {{ form(form) }}
  </div>
</div>
{% endblock %}
