{% extends "ZentriumCoreBundle:Security:login.html.twig" %}
{% form_theme form 'ZentriumCoreBundle::form.html.twig' %}

{% block title %}{{ 'zentrium.security.invitation.title'|trans }}{% endblock %}

{% block content %}
{{ form_start(form) }}
  {{ form_widget(form) }}
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-8">
      <input type="submit" name="_submit" value="{{ 'zentrium.security.invitation.submit'|trans }}" class="btn btn-primary btn-block btn-flat" />
    </div>
  </div>
{{ form_end(form) }}
{% endblock %}
