{% extends "ZentriumCoreBundle:Security:login.html.twig" %}

{% block title %}{{ 'zentrium.security.password_reset.request'|trans }}{% endblock %}

{% block content %}
{% if error is defined %}
<p class="login-box-msg">{{ error|trans }}</p>
{% endif %}
<form action="{{ path('password_request') }}" method="post">
  <input type="hidden" name="token" value="{{ csrf_token('password_reset') }}">
  <div class="form-group has-feedback">
    <input type="text" name="username" class="form-control" placeholder="{{ 'zentrium.security.username'|trans }}" autofocus>
    <span class="fa fa-user form-control-feedback"></span>
  </div>
  <div class="row">
    <div class="col-xs-4 login-box-link">
      <a href="{{ path('fos_user_security_login') }}">{{ 'zentrium.security.password_reset.back'|trans }}</a>
    </div>
    <div class="col-xs-8">
      <input type="submit" name="_submit" value="{{ 'zentrium.security.password_reset.request'|trans }}" class="btn btn-primary btn-block btn-flat" />
    </div>
  </div>
</form>
{% endblock %}
