{% extends 'ZentriumScheduleBundle::layout.html.twig' %}

{% block title_full %}{{ schedule.name }} - {{ 'zentrium_schedule.layout.schedule'|trans }}{% endblock %}
{% block title %}{{ schedule.name }}{% endblock %}

{% set filterSubjects = [] %}
{% if groupFilter %}
  {% set filterSubjects = filterSubjects|merge(['zentrium_schedule.schedule.view.filter.subject_group'|trans({'%group%': groupFilter.name})]) %}
{% endif %}
{% if skillFilter %}
  {% set filterSubjects = filterSubjects|merge(['zentrium_schedule.schedule.view.filter.subject_skill'|trans({'%skill%': skillFilter.name})]) %}
{% endif %}

{% block content%}
<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      {% if filterSubjects|length %}
        {{ 'zentrium_schedule.schedule.view.title_filtered'|trans({'%subject%': filterSubjects|formatList}) }}
      {% else %}
        {{ 'zentrium_schedule.schedule.view.title'|trans }}
      {% endif %}
    </h3>
    <div class="box-tools">
      <a href="{{ path('schedule_view', routeParameters|merge({'layout': (config.layout == 'task' ? 'user' : 'task')})) }}" class="btn btn-box-tool" data-title="{{ 'zentrium_schedule.schedule.view.change_layout'|trans }}" data-toggle="tooltip"><i class="fa fa-outdent"></i></a>
      <div class="btn-group">
        <button type="button" class="btn btn-box-tool" data-toggle="dropdown" data-title="{{ 'zentrium_schedule.schedule.view.filter.title'|trans }}"><i class="fa fa-filter"></i></button>
        <ul class="dropdown-menu">
          {% if groupFilter or skillFilter %}
          <li><a href="{{ path('schedule_view', routeParameters|merge({'group': null, 'skill': null})) }}">{{ 'zentrium_schedule.schedule.view.filter.reset_all'|trans }}</a></li>
          <li role="separator" class="divider"></li>
          {% endif %}
          <li class="dropdown-submenu">
            <a>{{ 'zentrium_schedule.schedule.view.filter.skills'|trans }}</a>
            <ul class="dropdown-menu">
              {% if skillFilter %}
              <li><a href="{{ path('schedule_view', routeParameters|merge({'skill': null})) }}">{{ 'zentrium_schedule.schedule.view.filter.reset'|trans }}</a></li>
              <li role="separator" class="divider"></li>
              {% endif %}
              {% for skill in skills %}
              <li class="{% if skillFilter and skill.id == skillFilter.id %}active{% endif %}">
                <a href="{{ path('schedule_view', routeParameters|merge({'skill': skill.id})) }}">{{ skill.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown-submenu">
            <a>{{ 'zentrium_schedule.schedule.view.filter.groups'|trans }}</a>
            <ul class="dropdown-menu">
              {% if groupFilter %}
              <li><a href="{{ path('schedule_view', routeParameters|merge({'group': null})) }}">{{ 'zentrium_schedule.schedule.view.filter.reset'|trans }}</a></li>
              <li role="separator" class="divider"></li>
              {% endif %}
              {% for group in groups %}
              <li class="{% if groupFilter and group.id == groupFilter.id %}active{% endif %}">
                <a href="{{ path('schedule_view', routeParameters|merge({'group': group.id})) }}">{{ group.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
      <a href="{{ path('schedule_validate', {'schedule': schedule.id}) }}" class="btn btn-box-tool" data-toggle="tooltip" data-title="{{ 'zentrium_schedule.schedule.view.validate'|trans }}"><i class="fa fa-check-square-o"></i></a>
      <a href="{{ path('schedule_edit', {'schedule': schedule.id}) }}" class="btn btn-box-tool" data-toggle="tooltip" data-title="{{ 'zentrium_schedule.schedule.view.edit'|trans }}"><i class="fa fa-pencil"></i></a>
      {% if comparableSets|length %}
      <div class="btn-group">
        <button type="button" class="btn btn-box-tool" data-toggle="dropdown" data-original-title="{{ 'zentrium_schedule.schedule.view.compare'|trans }}"><i class="fa fa-adjust"></i></button>
        <ul class="dropdown-menu">
          {% for set in comparableSets %}
          <li><a href="{{ path('schedule_requirement_set_compare_schedule', {'set': set.id, 'schedule': schedule.id}) }}">{{ set.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="box-body no-padding">
    <div id="schedule" data-config="{{ config|json_encode|e('html_attr') }}"></div>
  </div>
</div>
<div class="modal fade" tabindex="-1" id="shift-edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button id="shift-delete" type="button" class="btn btn-danger pull-left" tabindex="102">{{ 'zentrium.form.delete'|trans }}</button>
        {% if timesheet %}
        <a id="shift-timesheet" class="btn btn-default pull-left" tabindex="103">{{ 'zentrium_schedule.shift.edit.timesheet'|trans }}</a>
        {% endif %}
        <button id="shift-save" type="button" class="btn btn-primary" tabindex="101">{{ 'zentrium.form.save'|trans }}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
