{% extends "ZentriumMapBundle::layout.html.twig" %}

{% block title_full %}{{ map.name }} - {{ 'zentrium_map.layout.map'|trans }}{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">{{ map.name }}</h3>
    <div class="box-tools pull-right">
      {% if not map.default %}
      <a id="map-set-default" data-original-title="{{ 'zentrium_map.view.set_default'|trans }}" class="btn btn-box-tool" data-toggle="tooltip" href="{{ path('map_set_default', {'map': map.id})}}">
        <i class="fa fa-star"></i>
      </a>
      {% endif %}
      <a id="map-save-viewport" data-original-title="{{ 'zentrium_map.view.save_viewport'|trans }}" class="btn btn-box-tool" data-toggle="tooltip" href="{{ path('map_viewport', {'map': map.id})}}">
        <i class="fa fa-eye"></i>
      </a>
      <a data-original-title="{{ 'zentrium_map.view.edit'|trans }}" class="btn btn-box-tool" data-toggle="tooltip" href="{{ path('map_edit', {'map': map.id})}}">
        <i class="fa fa-cog"></i>
      </a>
    </div>
  </div>
  <div class="box-body no-padding">
    <div id="map" class="map-view" data-config="{{ config|json_encode|escape('html_attr') }}"></div>
  </div>
</div>
{% endblock %}
