{% extends 'VkafOafBundle::layout.html.twig' %}

{% block title_full %}{{ user.name }} - {{ 'zentrium.user.list.title'|trans }}{% endblock %}
{% block title %}{{ user.name }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3>{{ timesheetHours }} h</h3>
        <p>{{ 'vkaf_oaf.user.desk.timesheet_hours'|trans }}</p>
      </div>
      <div class="icon">
        <i class="fa fa-clock-o"></i>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="box box-solid">
      <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('user_edit', {'user': user.id}) }}"><i class="fa fa-pencil"></i> {{ 'vkaf_oaf.user.desk.edit'|trans }}</a></li>
          <li><a href="{{ path('user_labels', {'user': user.id}) }}"><i class="fa fa-tag"></i> {{ 'vkaf_oaf.user.desk.labels'|trans }}</a></li>
          <li><a href="{{ path('schedule_user_availability', {'user': user.id}) }}"><i class="fa fa-check-circle"></i> {{ 'zentrium_schedule.user.list.availability'|trans }}</a></li>
          <li><a href="{{ path('oaf_messages_user', {'user': user.id}) }}"><i class="fa fa-envelope"></i> {{ 'vkaf_oaf.menu.messages'|trans }}</a></li>
        </ul>
      </div>
    </div>
    <div class="box box-solid">
      <div class="box-body">
        <dl>
          <dt>{{ 'zentrium.user.field.present'|trans }}</dt>
          <dd>{% if user.present %}<span class="text-success">{{ 'zentrium.user.list.present'|trans }}</span>{% else %}<span class="text-danger">{{ 'zentrium.user.list.absent'|trans }}</span>{% endif %}</dd>
          <dt>{{ 'zentrium.user.field.bednumber'|trans }}</dt>
          <dd>{{ user.bednumber|default('-') }}</dd>
          <dt>{{ 'zentrium.user.field.mobile_phone'|trans }}</dt>
          <dd>{% if user.mobilePhone %}<a href="{{ user.mobilePhone|phoneNumber('url') }}">{{ user.mobilePhone|phoneNumber }}</a>{% else %}-{% endif %}</dd>
          <dt>{{ 'zentrium.user.field.birthday'|trans }}</dt>
          <dd>{% if user.birthday %}{{ user.birthday|localizedDate('date_short') }} ({{ 'vkaf_oaf.user.desk.age'|trans({'%age%': age}) }}){% else %}-{% endif %}</dd>
          <dt>{{ 'zentrium.user.field.groups'|trans }}</dt>
          <dd>{% for group in user.groups %}<span class="label label-primary" title="{{ group.name }}">{{ group.shortName }}</span>&#32;{% endfor %}
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-5">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">{{ 'vkaf_oaf.user.desk.upcoming_shifts'|trans }}</h3>
          </div>
          <div class="box-footer">
            <a href="{{ path('oaf_schedule_user', {'user': user.id}) }}" class="btn btn-default btn-block">{{ 'vkaf_oaf.user.desk.show_schedule'|trans }}</a>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">{{ 'vkaf_oaf.user.desk.assigned_resources'|trans }}</h3>
          </div>
          <div class="box-body no-padding">
            {% if resourceAssignments|length > 0 %}
            <table class="table">
              <tbody>
                {% for assignment in resourceAssignments %}
                <tr>
                  <td>{{ assignment.resource.label }}</td>
                  <td>{{ assignment.assignedAt|localizedDate('datetime_medium') }}</td>
                  {% if is_granted('ROLE_OAF_RESOURCE_MANAGE') %}
                  <td class="col-tools">
                    <a href="#" class="oaf-desk-resource" data-target="{{ path('oaf_resource_return', {'assignment': assignment.id}) }}"><i class="fa fa-arrow-circle-o-left"></i></a>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p class="empty">{{ 'vkaf_oaf.user.desk.no_resources'|trans({'%user%': user.name}) }}</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">{{ 'vkaf_oaf.user.desk.timesheet_entries'|trans }}</h3>
          </div>
          <div class="box-body no-padding">
            {% if timesheetEntries|length > 0 %}
            <table class="table user-desk-timesheet">
              <tbody>
                {% for entry in timesheetEntries %}
                <tr>
                  <td><span class="text-muted">#{{ entry.id }}</span></td>
                  <td>{{ entry.start|localizedDate('datetime_medium') }}</td>
                  <td>{{ entry.end|localizedDate('datetime_medium') }}</td>
                  <td>{{ entry.duration|duration }}</td>
                  <td>{{ entry.activity.name }}</td>
                  <td class="col-entry-notes">{{ entry.notes|nl2br }}</td>
                  <td class="col-tools">
                    {% if entry.approved %}
                    <i class="fa fa-check" data-toggle="tooltip" data-title="{{ 'zentrium_timesheet.entry.list.approved'|trans({'%user%': entry.approvedBy.name, '%date%': entry.approvedAt|localizedDate('datetime_medium')})|e('html_attr') }}"></i>
                    {% else %}
                    <a href="{{ path('timesheet_entry_edit', {'entry': entry.id}) }}"><i class="fa fa-pencil"></i></a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p class="empty">{{ 'vkaf_oaf.user.desk.no_timesheet_entries'|trans({'%user%': user.name}) }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
