<!DOCTYPE html>
{% spaceless %}
{% set title = block('title')|trim %}
{% set title_sub = block('title_sub') ?? '' %}
<html lang="{{ app.request.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title_full %}{{ title|raw }}{% endblock %} - Zentrium</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="{{ asset('build/zentrium.css') }}">
  {% block stylesheets %}{% endblock %}
</head>
<body class="{% block body_class %}hold-transition skin-blue sidebar-collapse sidebar-mini{% endblock %}">
  {% block body %}
  <div class="wrapper">
    <header class="main-header">
      <a href="{{ path('home') }}" class="logo">
        <span class="logo-mini">Z</span>
        <span class="logo-lg">Zentrium</span>
      </a>
      <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
        <div class="navbar-custom-menu">
          <p class="navbar-text">{{ app.user.name }}</p>
          <ul class="nav navbar-nav">
            <li>
              <a href="{{ path('viewer') }}" title="{{ 'zentrium.viewer.switch'|trans }}"><i class="fa fa-toggle-on"></i></a>
            </li>
            <li>
              <a href="{{ path('fos_user_security_logout') }}" title="{{ 'zentrium.security.logout'|trans }}"><i class="fa fa-sign-out"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <aside class="main-sidebar">
      <section class="sidebar">
        <ul class="sidebar-menu">
          <li class="header">{% trans %}zentrium.layout.main_menu{% endtrans %}</li>
          {{ knp_menu_render('main', {
            'template': 'ZentriumCoreBundle::mainMenu.html.twig',
            'currentClass': 'active',
            'currentAsLink': true,
            'branch_class': 'treeview',
            'ancestorClass': 'active',
            'firstClass': '',
            'lastClass': ''
          }) }}
        </ul>
      </section>
    </aside>
    <div class="content-wrapper">
      {% if title %}
      <section class="content-header">
        <h1>{{ title|raw }}{% if title_sub %}<small>{{ title_sub|raw }}</small>{% endif %}</h1>
      </section>
      {% endif %}
      <section class="content">
        {% include 'ZentriumCoreBundle::flashes.html.twig' %}
        {% block content %}{% endblock %}
      </section>
    </div>
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <strong>{{ 'zentrium.layout.version'|trans }}</strong> {{ app_version }}
      </div>
      <strong>&nbsp;</strong>
    </footer>
  </div>
  {% endblock %}
  <script src="{{ asset('build/manifest.js') }}"></script>
  <script src="{{ asset('build/zentrium.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
{% endspaceless %}
