{% extends 'ZentriumCoreBundle::layout.html.twig' %}

{% block body_class %}hold-transition skin-blue layout-top-nav{% endblock %}

{% block body %}
<div class="wrapper">
  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ path('viewer') }}">Zentrium</a>
          <button data-target="#navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div id="navbar-collapse" class="collapse navbar-collapse pull-left">
          <ul class="nav navbar-nav">
            {{ knp_menu_render('viewer', {
              'template': 'ZentriumCoreBundle::viewerMenu.html.twig',
              'currentClass': 'active',
              'currentAsLink': true,
              'branch_class': 'dropdown',
              'ancestorClass': 'active',
              'firstClass': '',
              'lastClass': ''
            }) }}
          </ul>
        </div>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            {% if is_granted('ROLE_MANAGER') %}
            <li>
              <a href="{{ path('home') }}" title="{{ 'zentrium.viewer.switch_back'|trans }}"><i class="fa fa-toggle-off"></i></a>
            </li>
            {% endif %}
            <li>
              <a href="{{ path('fos_user_security_logout') }}" title="{{ 'zentrium.security.logout'|trans }}"><i class="fa fa-sign-out"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="content-wrapper">
    <div class="container">
      <section class="content-header">
        <h1>{{ title }}{% set title_sub = block('title_sub') %}{% if title_sub %}<small>{{ title_sub }}</small>{% endif %}</h1>
      </section>
      <section class="content">
        {% include 'ZentriumCoreBundle::flashes.html.twig' %}
        {% block content %}{% endblock %}
      </section>
    </div>
  </div>
</div>
{% endblock %}
